<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="{% url 'home' %}{% if request.path == '/' %}#{% else %}{% endif %}" class="logo d-flex align-items-center">
          <span>Irk3D</span>
        </a>
        <p>Мы делаем лучшие сферические 3D панорамы в Иркутске, любой сложности и в кратчайшие сроки, с 2010 года.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://t.me/zrivkoren1"><i class="bi bi-telegram"></i></a>
          <a href="https://vk.com/irk3d"><i class="bi bi-vimeo"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Полезные ссылки</h4>
        <ul>
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'home' %}#services">Услуги</a></li>
          <li><a href="{% url 'home' %}#pricing">Цены</a></li>
          <li><a href="{% url 'home' %}#portfolio">Портфолио</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Виды туров</h4>
        <ul>
          <li><a href="{% url 'home' %}tag/commercial/">Коммерческие</a></li>
          <li><a href="{% url 'home' %}tag/nature/">Природа</a></li>

        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Наши контакты</h4>
        <p>Россия, Иркутск</p>
        <p>ИП Заборовский Д.И.</p>
        <p>Основной вид деятельности по ОКВЭД: 74.20 «Деятельность в области фотографии»</p>
        <p class="mt-4"><strong>Телефон:</strong> <span>+7 924 603 39 33</span></p>
        <p><strong>Email:</strong> <span>info@irk3d.ru</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span><strong class="px-1">Irk3D.ru</strong> <span>2010 - 2023</span></p>
    <div class="credits">
      Все права защищены.
    </div>
  </div>

</footer>

<!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>