{% load static %}
<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="{% static 'assets/img/logo300.png' %}" alt="">
        <h1>Irk3D</h1>
        <span>.ru</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Главная</a></li>
          <li><a href="{% url 'home' %}#about">О нас</a></li>
          <li><a href="{% url 'home' %}#services">Услуги</a></li>
          <li><a href="{% url 'home' %}#portfolio">Portfolio</a></li>
          <li><a href="{% url 'home' %}#testimonials">Отзывы</a></li>
          <li class="dropdown has-dropdown"><a href="#"><span>Виды туров</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="{% url 'home' %}tag/commercial/">Коммерческие</a></li>
              <li><a href="{% url 'home' %}tag/nature/">Природа</a></li>
            </ul>
          </li>
          <li><a href="{% url 'home' %}#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a class="btn-getstarted" href="{% url 'home' %}#contact">Контакты</a>

    </div>
  </header><!-- End Header -->
