<section id="contact" class="contact">

  <div class="container section-title" data-aos="fade-up">
    <h2>Наши контакты</h2>
    <p>Ответим на любые вопросы</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="300">
              <i class="bi bi-telephone-fill"></i>
              <h3>Телефон</h3>
              <p><a href="tel:+7(924)6033933">+7 924 603 39 33</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@irk3d.ru">info@irk3d.ru</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <a href="https://t.me/zrivkoren1"><i class="bi bi-telegram"></i></a>
              <h3>Телеграм</h3>
              <p><a href="https://t.me/zrivkoren1">Написать в мессенджер</a> телеграм</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="500">
              <i class="bi bi-clock"></i>
              <h3>Режим работы</h3>
              <p>Понедельник - Суббота, 9:00 - 19:00</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Ваше Имя" required>
            </div>

            <div class="col-md-6 ">
              <input type="text" class="form-control" name="email-phone" placeholder="Ваш Email или номер телефона"
                     required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Сообщение" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Отправить</button>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</section>