{% load static %}
<!-- Stats Section - Home Page -->
<section id="stats" class="stats">

  <img src="{% static 'assets/img/stats-bg_baikal1.jpg' %}" alt="" data-aos="fade-in">

  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="2010" data-purecounter-duration="1" class="purecounter"></span>
          <p>Работаем с года</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="358" data-purecounter-duration="2" class="purecounter"></span>
          <p>Виртуальных туров сделано</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="2703" data-purecounter-duration="3" class="purecounter"></span>
          <p>Сферических панорам снято</p>
        </div>
      </div><!-- End Stats Item -->

    </div>

  </div>

</section><!-- End Stats Section -->