<section id="faq" class="faq">
  <div class="container">

    <div class="row gy-4 align-items-center">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3><span>Часто задаваемые вопросы </span><strong>и ответы</strong></h3>
          <p>
	          Если Вы не нашли ответ на свой вопрос, то можете его задать через форму обратной связи <a href="{% url 'home' %}#contact">ниже</a>
          </p>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

        <div class="faq-container">
          {% for item in faqs %}

            {% if forloop.counter == 1 %}
              <div class="faq-item faq-active">
            {% else %}
              <div class="faq-item">
            {% endif %}

          <h3><span class="num">{{ forloop.counter }}.</span> <span>{{ item.question }}</span></h3>
          <div class="faq-content">
            <p>{{ item.answer|safe }}</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          {% endfor %}
          </div>


        </div>
      </div>
    </div>
</section>