{% load static %}
<section id="testimonials" class="testimonials">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
				<h3>Отзывы</h3>
				<p>
					Мы практикуем индивидуальный подход к каждому клиенту. И вот что они говорят:
				</p>
			</div>
			<div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
				<div class="swiper">
					<template class="swiper-config">
						{
						"loop": true,
						"speed": 600,
						"autoplay": {
						"delay": 5000
						},
						"slidesPerView": "auto",
						"pagination": {
						"el": ".swiper-pagination",
						"type": "bullets",
						"clickable": true
						},
						"navigation": {
						"nextEl": ".swiper-button-next",
						"prevEl": ".swiper-button-prev"
						}
						}
					</template>
					<div class="swiper-button-prev"></div>
					<div class="swiper-wrapper">
						{% for feedback in feedbacks %}
							<div class="swiper-slide">
								<div class="testimonial-item">
									<div class="d-flex">
										<img src="{{ feedback.author_image.url }}" class="testimonial-img flex-shrink-0" alt="">
										<div>
											<h3>{{ feedback.author_name }}</h3>
											<h4>{{ feedback.author_position_company }}</h4>
											<div class="stars">
												<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
													class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
											</div>
										</div>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>{{ feedback.text|safe }}</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-pagination"></div>
				</div>

			</div>
		</div>
	</div>

</section>
