{% load static %}
<!-- Hero Section - Home Page -->
<section id="hero" class="hero">

  <img src="{% static 'assets/img/up_fon.jpg' %}" alt="" data-aos="fade-in">

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">Виртуальные туры по реальным местам</h2>
        <p data-aos="fade-up" data-aos-delay="200">Мы делаем лучшие 3D панорамы в Иркутске, любой сложности и в кратчайшие сроки, с 2010 года</p>
      </div>

    </div>
  </div>

</section><!-- End Hero Section -->