<section id="pricing" class="pricing">

	<div class="container section-title" data-aos="fade-up">
		<h2>Цены</h2>
		<p>Стоимость виртуального тура зависит от количества точек обзора </p>
	</div>

	<div class="container" data-aos="zoom-in" data-aos-delay="100">

		<div class="row g-4">

			<div class="col-lg-4">
				<div class="pricing-item">
					<h3>Эконом</h3>
					<div class="icon">
						<i class="bi bi-geo"></i>
					</div>
					<h4><sup>₽</sup>{{ settings.price_low }}<span> / панорама</span></h4>
					<ul>
						<li><i class="bi bi-check"></i>
							<span>Съемка и сборка сферических панорам разрешением 14 000 х 7000 пикселей</span></li>
						<li><i class="bi bi-check"></i> <span>Создание виртуального тура</span></li>
						<li><i class="bi bi-check"></i> <span>Всё из раздела Услуги, кроме:</span></li>
						<li class="na"><i class="bi bi-x"></i> <span>Реалистичная ретушь надира (штатива внизу)</span></li>
						<li class="na"><i class="bi bi-x"></i> <span>Размещение на нашем сервере</span></li>
					</ul>
					<div class="text-center"><a href="{% url 'home' %}#contact" class="buy-btn">Заказать</a></div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-item featured">
					<h3>Выгодный</h3>
					<div class="icon">
						<i class="bi bi-hand-thumbs-up"></i>
					</div>

					<h4><sup>₽</sup>{{ settings.price_medium }}<span> / панорама</span></h4>
					<ul>
						<li><i class="bi bi-check"></i>
							<span>Съемка и сборка сферических панорам разрешением 14 000 х 7000 пикселей</span></li>
						<li><i class="bi bi-check"></i> <span>Создание виртуального тура</span></li>
						<li><i class="bi bi-check"></i> <span>Всё из раздела Услуги, включая:</span></li>
						<li><i class="bi bi-check"></i> <span>Реалистичная ретушь надира (штатива внизу)</span></li>
						<li><i class="bi bi-check"></i> <span>Размещение на нашем сервере</span></li>
						<li><i class="bi bi-check"></i> <span>При заказе <b>от 10 точек</b> обзора</span></li>
					</ul>
					<div class="text-center"><a href="{% url 'home' %}#contact" class="buy-btn">Заказать</a></div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-item">
					<h3>Премиум</h3>
					<div class="icon">
						<i class="bi bi-globe"></i>
					</div>
					<h4><sup>₽</sup>{{ settings.price_high }}<span> / панорама</span></h4>
					<ul>
						<li><i class="bi bi-check"></i>
							<span>Съемка и сборка сферических панорам разрешением 14 000 х 7000 пикселей</span></li>
						<li><i class="bi bi-check"></i> <span>Создание виртуального тура</span></li>
						<li><i class="bi bi-check"></i> <span>Всё из раздела Услуги, включая:</span></li>
						<li><i class="bi bi-check"></i> <span>Реалистичная ретушь надира (штатива внизу)</span></li>
						<li><i class="bi bi-check"></i> <span>Размещение на нашем сервере</span></li>
					</ul>
					<div class="text-center"><a href="{% url 'home' %}#contact" class="buy-btn">Заказать</a></div>
				</div>
			</div>

		</div>
	</div>
</section>
