<section id="contact" class="contact">

	<div class="container section-title" data-aos="fade-up">
		<h2>Наши контакты</h2>
		<p>Ответим на любые вопросы</p>
	</div>

	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row gy-4">
			<div class="col-lg-6">
				<div class="row gy-4">
					<div class="col-md-6">
						<a href="tel:+7(924)6033933">
							<div class="info-item" data-aos="fade" data-aos-delay="300">
								<i class="bi bi-telephone"></i>
								<h3>Телефон</h3>
								<p>+7 924 603 39 33</p>
							</div>
						</a>
					</div>

					<div class="col-md-6">
						<a href="mailto:info@irk3d.ru">
							<div class="info-item" data-aos="fade" data-aos-delay="400">
								<i class="bi bi-envelope"></i>
								<h3>Email</h3>
								<p>info@irk3d.ru</p>
							</div>
						</a>
					</div>

					<div class="col-md-6">
						<a href="https://t.me/zrivkoren1">
							<div class="info-item" data-aos="fade" data-aos-delay="200">
								<i class="bi bi-send"></i>
								<h3>Телеграм</h3>
								<p>Написать в мессенджер</p>
							</div>
						</a>
					</div>

					<div class="col-md-6">
						<div class="info-item" data-aos="fade" data-aos-delay="500">
							<i class="bi bi-clock"></i>
							<h3>Режим работы</h3>
							<p>Понедельник - Суббота, 9:00 - 19:00</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-6">
				{% include '../tour/contact-form.html' %}
			</div>

		</div>
	</div>
</section>