{% load static %}
<section id="clients" class="clients">
<div class="container section-title" data-aos="fade-up">
    <h2>Наши клиенты</h2>
      <p>Уже оценили преимущества виртуальных туров, созданных командой Irk3D</p>
  </div>

  <div class="container-fluid" data-aos="zoom-out">
    <div class="row gy-4">
{%   for client in clients %}
  <div class="col-xl-2 col-md-3 col-6 client-logo">
    <a href="{{ client.tour_client.first.get_absolute_url }}"><img src="{{ client.logo.url }}" class="img-fluid" alt=""></a>
  </div>
{% endfor %}

    </div>
  </div>
</section>