{% load static %}
<section id="portfolio" class="portfolio">

  <div class="container section-title" data-aos="fade-up">
    <h2>Наши работы</h2>
    <p>Здесь представлена лишь небольшая часть виртуальных туров, сделанных с 2010 </p>
  </div>

  <div class="container">

    <div class="isotope-layout" data-default-filter=".filter-commercial" data-layout="masonry" data-sort="original-order">

      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">

        {% for tag in tags %}
          {% if forloop.first %}
            <li data-filter=".filter-commercial" class="filter-active">Коммерческие</li>
          {% else %}
            <li data-filter=".filter-{{ tag.slug }}">{{ tag.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>

      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

        {% for tag in tags %}

          {% for t_item in tag.tour.all|slice:":6" %}

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ tag.slug }}">

              <img src="{{ t_item.preview_image.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ t_item.name }}</h4>
                <p>{{ t_item.client }}</p>
                <a href="{{ t_item.preview_image.url }}" title="{{ t_item.name }}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{{ t_item.get_absolute_url }}" title="Перейти на страницу тура" class="details-link">
                  <i class="bi bi-link-45deg"></i></a>
              </div>

            </div>

          {% endfor %}
        {% endfor %}

      </div>
    </div>
  </div>

</section>
