{% extends 'base.html' %}
{% load static %}

<body class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <main id="main">
 {% block content %}
    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Blog</h1>
              <p class="mb-0">!!!! Мы делаем множество виртуальных туров на разную тематику во многих сферах деятельности</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
{% for tour in all_tours  %}

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{{ tour.preview_image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="{{ tour.slug }}">{{ tour.name }}</a>
              </h2>

             <p class="post-category">{%  for tag in tour.tags.all %}
                  {{ tag.name }}
                  {% empty %}  empty list!
              {% endfor %}</p>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-date">
                    <time>{{ tour.created|date:"F Y" }} </time>
                  </p>
                </div>
              </div>

            </article>

          </div><!-- End post list item -->
        {% endfor %}



        </div><!-- End blog posts list -->

        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->
{% endblock %}
  </main>

</body>
