{% extends 'base.html' %}
{% load static %}

{% block body_up %}
	<body class="blog-details-page" data-bs-spy="scroll" data-bs-target="#navmenu">
{% endblock %}

{% block header %}
	{% include 'includes/header.html' with header_class='header sticky-top' header_menu_home_active=' ' header_menu_home_anchor=' ' header_menu_portfolio_active=' class="active"' %}
{% endblock %}

{% block content %}

	<section id="blog-details" class="blog-details">

		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row g-5">
				<div class="col-lg-8">
					<article class="article">

						<div class="post-img">
							<a href="{{ tour.get_vt_url }}" target="_blank">
								<img src="{{ tour.preview_image.url }}" alt="" class="img-fluid"></a>
						</div>

						<h2 class="title">{{ tour.name }}</h2>

						<div class="content">
							{{ tour.text|safe }}
							{% if tour.is_deeplink %}
								<h3>Точки обзора:</h3>
								{% for scene in tour.scenes.all %}
									<p>- <a href="{% url 'home' %}{{ tour.vt_url }}?s={{ scene.name_for_deep_link }}"
									        target="_blank">{{ scene.name }}</a></p>
								{% endfor %}
							{% endif %}
						</div>

						<div class="meta-bottom">
							<i class="bi bi-clock"></i>
							<ul class="cats">
								<li><strong>Дата создания:</strong> {{ tour.created|date:"F Y" }}</li>
							</ul>

							<i class="bi bi-tags"></i>
							<ul class="tags">
								{% for tag in tour.tags.all %}
									<li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
									</li>
								{% empty %}  отсутствуют
								{% endfor %}
							</ul>
						</div>

					</article>

					{% if tour.feedback %}
						<div class="blog-author d-flex align-items-center">
							<img src="{{ tour.feedback.author_image.url }}" class="rounded-circle flex-shrink-0" alt="">
							<div>
								<h4>{{ tour.feedback.author_name }}</h4>
								<div class="social-links">
									{{ tour.feedback.author_position_company }}
								</div>
								<p>
									{{ tour.feedback.text|safe }}
								</p>
							</div>
						</div>
					{% endif %}
				</div>

				<div class="col-lg-4">
					<div class="sidebar">
						<div class="sidebar-item">
							<a href="{{ tour.get_vt_url }}">Открыть тур</a>
						</div>

						<div class="sidebar-item categories">
							<h3 class="sidebar-title">Теги тура</h3>
							<ul class="mt-3">
								{% for tag in tour.tags.all %}
									<li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
									</li>
								{% empty %}  отсутствуют
								{% endfor %}
							</ul>
						</div>

						<div class="sidebar-item recent-posts">
							<h3 class="sidebar-title">Последние записи</h3>
							{% for l_tour in latest_tours %}
								<div class="post-item">
									<a href="{{ l_tour.get_absolute_url }}"><img src="{{ l_tour.preview_image.url }}" alt=""
									                                             class="flex-shrink-0"></a>
									<div>
										<h4><a href="{{ l_tour.get_absolute_url }}">{{ l_tour.name }}</a></h4>
										<time>{{ l_tour.created|date:"F Y" }}</time>
									</div>
								</div>
							{% endfor %}
						</div>

						<div class="sidebar-item tags">
							<h3 class="sidebar-title">Все теги</h3>
							<ul class="mt-3">
								{% for tag in all_tags %}
									<li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
								{% endfor %}
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

