{% extends 'base.html' %}
{% load static %}

<body class="portfolio-details-page" data-bs-spy="scroll" data-bs-target="#navmenu">

   <main id="main">
 {% block content %}

    <!-- Portfolio Details Page Title & Breadcrumbs -->


    <!-- Portfolio-details Section - Portfolio Details Page -->
    <section id="portfolio-details" class="portfolio-details">

      <div class="container" data-aos="fade-up">

          <div class="post-img">
                <img src="{{ tour.preview_image.url }}" alt="" class="img-fluid">
          </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>{{ tour.name }}</h2>
                {{ tour.text|linebreaksbr }}
                 <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
                <p>{{ tour.scenes.all }}</p>
                <p>{{ tour }}</p>

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Информация о проекте</h3>
              <ul>
                <li><strong>Теги</strong>
                    {%  for tag in tour.tags.all %}
                  <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                  {% empty %}  отсутствуют
              {% endfor %}
                </li>


                <li><strong>Дата создания</strong> {{ tour.created|date:"F Y" }}</li>
                <li><strong>Project URL</strong> <a href="#">www.example.com</a></li>
                <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>


          <div class="portfolio-details-slider swiper">
          <template class="swiper-config">
            {
            "loop": true,
            "speed" : 600,
            "autoplay": {
            "delay": 5000
            },
            "slidesPerView": "auto",
            "navigation": {
            "nextEl": ".swiper-button-next",
            "prevEl": ".swiper-button-prev"
            }
            }
          </template>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{% static 'assets/img/portfolio/app-1.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/portfolio/product-1.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/portfolio/books-1.jpg' %}" alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>

    </section><!-- End Portfolio-details Section -->
{% endblock %}
   </main>
</body>